.container {
  padding-bottom: 60px;

  font-family: "Poppins", sans-serif;
}

.welcomeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 60px;
  padding: 0 10px;

  h2 {
    margin-top: 40px;
  }

  p {
    color: var(--sidebar-text-gray);

    max-width: 1000px;
    font-size: 16px;
    line-height: 26px;

    margin-top: 26px;
    text-align: center;
  }
}

.links {
  padding: 70px 0;
  display: flex;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 30px;
  margin-bottom: 20px;

  box-shadow: var(--box-shadow);
  border-radius: 18px;

  text-decoration: none;

  .icon {
    width: 60px;
    height: 60px;
  }

  #yt {
    color: red;
  }

  #gt {
    color: black;
  }

  div {
    align-items: center;
    gap: 14px;

    font-size: 16px;

    span {
      margin-top: 12px;
      color: var(--text-gray);
    }

    h4 {
      color: black;
    }
  }

  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-5px);
  }
}

.goto {
  cursor: pointer;
  padding: 20px;
  border-radius: 16px;
  width: 200px;
  border: 3px solid var(--main-red);
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;

  position: relative;
  overflow: hidden;
  transition: color 0.4s;
}

.goto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-red);
  transition: width 0.4s, z-index 0s;
  z-index: 1;
}

.goto:hover {
  color: var(--main-white);
}

.goto:hover::before {
  width: 100%;
}

.goto:hover::before {
  z-index: -1;
}

@media (max-width: 690px) {
  .links {
    flex-direction: column;
  }
}
