.container {
  display: flex;
  font-family: "Roboto", sans-serif;

  min-height: 100vh;
}

.sidebar {
  background: linear-gradient(180deg, #1d252e 0%, #0d131b 100%);

  width: 280px;

  a {
    padding: 35px;

    color: var(--neon-green);
    font-weight: 500;

    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.box {
  background: var(--main-blue);
  padding: 40px 80px;

  width: 100%;

  hr {
    margin-top: 28px;
    margin-bottom: 42px;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 26px;
    color: var(--neon-green);
  }

  button {
    cursor: pointer;

    width: 147px;
    height: 40px;

    border-radius: 100px;
    border: none;

    background: var(--neon-green);
    color: var(--text-green);

    font-size: 14px;
    font-weight: bold;

    &:hover {
      filter: brightness(85%);
    }
  }
}

.inpt {
  width: 328px;
  height: 53px;

  padding: 20px;

  outline: none;

  background: var(--input-blue);
  border-radius: 10px;
  border: 3px solid transparent;

  color: var(--white-text);

  transition: border-color 300ms ease;
  &:focus {
    border-color: var(--darker-blue);
  }
}

.deals {
  display: flex;
  flex-wrap: wrap;

  gap: 31px;

  margin-top: 64px;
}

.deal {
  width: 374px;
  min-height: 260px;

  padding: 25px 30px;

  border-radius: 12px;
  background: var(--deal-blue);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-7px);
  }
}

.dealHeader {
  display: flex;
  justify-content: space-between;
}

.dealName {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    color: var(--gray);
    font-weight: 500;
  }

  .smallIcon {
    width: 23px;
    height: 23px;
    border-radius: 5px;

    background: var(--gray);
  }
}

.dealButtons {
  display: flex;
  gap: 15px;

  button {
    cursor: pointer;

    font-size: 18px;

    color: var(--white-text);
    border: none;
    background-color: transparent;

    transition: color 300ms;

    &:first-child {
      &:hover {
        color: var(--light-blue);
      }
    }
    &:last-child {
      &:hover {
        color: var(--red);
      }
    }
  }
}

.dealInfo {
  margin-top: 30px;

  font-weight: 500;
  color: var(--white-text);
}

.exhausted {
  display: flex;
  align-items: center;

  gap: 9px;

  #greenCheck {
    color: var(--neon-green);
  }
  #redCheck {
    color: var(--red);
  }
}

.dealStatus {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media (max-width: 1190px) {
  .deal {
    width: 100%;
  }
}

@media (max-width: 772px) {
  .container {
    flex-direction: column;
    background: var(--main-blue);
  }

  .box {
    padding: 40px 20px;
  }

  .sidebar,
  .deal,
  .inpt {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .deal {
    span {
      max-width: 120px;
    }
  }
}
