:root {
  --main-blue: #222b33;
  --darker-blue: #151c25;
  --deal-blue: #1a212a;

  --input-blue: #373c45;
  --neon-green: #c8e64f;
  --text-green: #314411;

  --white-text: #c5c5c5;
  --really-white-text: #dddddd;
  --gray: #d9d9d9;
  --dark-gray: #696969;
  --red: #cd3547;

  --toastify-color-dark: #222b33 !important;
  --toastify-color-progress-dark: #c8e64f !important;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
