.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: opacity 0.3s ease;

  overflow: hidden;
}

.content {
  font-family: "Roboto", sans-serif;

  width: 40%;
  height: 100%;

  background: var(--main-blue);
  padding: 30px;
  padding-top: 60px;

  border: 3px solid var(--darker-blue);
  border-radius: 8px;

  animation: slide-in 0.3s ease forwards;

  position: relative;

  h3 {
    color: var(--really-white-text);
  }

  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;

    font-size: 18px;
    font-weight: bold;

    color: var(--white-text);
    border: none;
    background-color: transparent;
  }
}

.form {
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.labelContainer {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 13px;

    font-weight: 500;
    color: var(--really-white-text);
  }

  input,
  textarea {
    color: var(--gray);

    outline: none;

    padding: 10px;
    border-radius: 9px;
    background: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: border-color 300ms ease;
    &:focus {
      border-color: var(--neon-green);
    }
  }

  textarea {
    resize: none;

    height: 80px;
  }
}

#scoreInput {
  width: 70px;
  text-align: center;
}

.checkbox {
  margin-top: 15px;
  display: flex;
  gap: 12px;
  color: var(--really-white-text);
  font-weight: 500;
  align-items: center;
}

.toggleInput {
  display: none;
}

.toggleLabel {
  cursor: pointer;
  position: relative;
  width: 52px;
  height: 16px;

  background-color: var(--dark-gray);
  border-radius: 50px;

  display: inline-block;
  transition: background-color 0.3s;
}

.toggleCircle {
  position: absolute;
  top: -4px;
  left: -2px;

  width: 24px;
  height: 24px;

  background-color: var(--white-text);
  border-radius: 50%;

  transition: transform 0.3s;
}

.toggleInput:checked + .toggleLabel {
  background-color: var(--neon-green);

  .toggleCircle {
    background-color: var(--darker-blue);
  }
}

.toggleInput:checked + .toggleLabel .toggleCircle {
  transform: translateX(32px);
}

.formButtons {
  margin-top: 40px;

  display: flex;
  gap: 8px;

  button {
    cursor: pointer;

    font-size: 14px;
    font-weight: bold;

    width: 118px;
    height: 40px;

    border-radius: 100px;
    border: none;

    &:last-child {
      color: var(--text-green);
      background-color: var(--neon-green);

      &:disabled {
        filter: brightness(80%);
      }
    }

    &:first-child {
      color: var(--gray);
      background-color: transparent;
    }

    &:hover {
      filter: brightness(85%);
    }
  }
}

.err {
  margin-top: 8px;

  font-weight: 500;
  color: var(--red);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 772px) {
  .content {
    width: 95%;
  }
}
