.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 12px;

  margin-top: 30px;
}

.pages {
  display: flex;
  gap: 9px;

  button {
    cursor: pointer;

    width: 50px;
    height: 50px;
    padding: 10px;

    border-radius: 12px;
    border: none;

    font-size: 18px;
    font-weight: bold;

    background-color: transparent;
    border: 2px solid var(--neon-green);
    color: var(--white-text);

    &:not(:disabled) {
      border: 2px solid rgba(0, 0, 0, 0.3);
      color: #787878;
    }
  }
}

.arrow {
  cursor: pointer;
  color: var(--neon-green);

  border: none;
  background: transparent;

  font-size: 16px;

  &:disabled {
    color: var(--darker-blue);
  }
}
